.bg_image {
    margin-top: 200px;
    margin-right: 50px;
}

.section-title {
    margin-top: 250px;

}

.section-title h4 {
    color: rgba(142, 142, 147);
}

.search-bar-home {
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 50px;
    background: rgba(0, 122, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
}

.search_bar #search {
    width: 500px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
}

.category {
    width: 0px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
}

.button-home {
    width: 120px;
    height: 50px;
    background-color: rgba(0, 122, 255);
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.p-2 #cat {
    /* width: 50px; */
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.p-2 {
    border-right: 0.5px solid;
    border-color: rgb(229, 229, 234);
    width: 150px;
    margin-right: 10px;
}

.content {
    padding-top: 150px;
    height: 100%;
}

.content .active span {
    color: White;
    font-size: 20px;
}

.content .active .tab-title {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.content span {
    color: grey;
    font-size: 20px;
}

.content .tab-title {
    font-size: 15px;
    color: grey;
    font-weight: bold;
}

.content .nav-item .active {
    background-color: rgba(0, 122, 255);

}

.cat-list {
    padding: 10px;

}

.cat-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: gold;
    padding: 12px;
}

/* Style the list */
ul.breadcrumb {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 20px 100px;
    list-style: none;
    background-color: rgb(229, 229, 234);
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;

}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: grey;
    font-weight: bold;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: rgba(0, 122, 255);
    font-weight: bold;
    text-decoration: underline;
}

.nav-container {
    padding-left: 100px;
    margin-top: 20px;
}

.nav-container h2 {
    font-weight: bold;
    color: rgba(99, 99, 102);
}

.nav-content {
    padding-left: 0px;
    padding-right: 30px;
}


.cat-menu {
    padding-top: 30px;
}

.cat-menu a {
    margin-top: 10px;
    padding: 15px;
    font-weight: bold;
}

.nav-item a {
    color: gray;
}

.nav-item a:hover {
    color: rgba(0, 122, 255);
}

.card-body a {
    color: black;
}

.card-body a:hover {
    color: rgba(0, 122, 255);
    text-decoration: underline;
}

.borderless {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 5rem;
    margin: auto;
    display: flex;
}


.borderless__input {
    position: absolute;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-left: 40px;
    height: 40px;
    width: 90%;
    border: none;
    margin-top: 10px;
    border-bottom: 0.5px solid gray;
}

.borderless__label {
    position: relative;
    left: 0.1rem;
    top: 1rem;
    color: gray;
    background-color: white;
    margin-left: 30px;
    padding-left: 12px;
    padding-right: 5px;
    height: 7px;
}

.borderless__input:focus~.borderless__label,
.borderless__input:not(:placeholder-shown).borderless__input:not(focus)~.borderless__label {
    color: black;
    font-size: 15px;
    top: -0.65rem;
    margin-left: 0px;
    font-weight: bold;
    padding-left: 2px;
    padding-bottom: 5px;
    transition: top 200ms ease-in, font-size 200ms ease-in, margin-left 200ms ease-in, font-weight 200ms ease-in;
}

.borderless .login1 {

    position: absolute;
    top: 2.8rem;
    color: black;
    padding-left: 7px;
    /* padding-left:-10rem; */

}

.borderless .login2 {

    position: absolute;
    top: 7.7rem;
    color: black;
    padding-left: 7px;
    /* padding-left:-10rem; */

}

.login_img {
    /* height:50%; */
    width: 90%;
    padding: 20px;
    margin: 30px;
}

.dropbtn {
    color: black;
    margin-left: 15px;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: X-large;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    padding-left: 20px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: gray;
    transition: gray ease-in 200ms;
}

.long-button{
    position:relative;
    width:300px;
    margin-left:5px;
    background:rgba(0, 122, 255);
    color:white;
    height:40px;
    font-weight: bold;
}

.error-text{
    position:absolute;
    margin-top:50px;
    left:20px;
    color:red;
}
